<div class="row">
	<div class="col-lg-6">
		<div>
			<label>
				Name:
				<input #heroName />
			</label>
			<!--(click) passes input value to add() and then clears the input-->
			<button (click)="add(heroName.value); heroName.value=''">Create</button>
		</div>
	</div>
	<div class="col-lg-6">
		<ul class="heroes">
			<!--<li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero == selectedHero">-->
			<li *ngFor="let hero of heroes">
				<a routerLink="/detail/{{hero.id}}">
					<span class="badge">{{hero.id}}</span> {{hero.name}}
				</a>
				<button class="delete" title="Delete Hero" (click)="delete(hero)">X</button>
			</li>
		</ul>
	</div>
</div>
